.advantages {
	display: flex;
	justify-content: space-between;
	padding: 65px 0;
}
.advantages__item {
	display: flex;
	align-items: center;
	max-width: 230px;
	&:last-child {
		margin: 0;
	}
}
.advantages__img {
	margin: 0 15px 0 0;
	width: 58px;
	height: 58px;
	object-fit: cover;
}
.advantages__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	color: #555555;
}

.advantages__descr {
	color: rgba(81, 81, 81, 0.71);
	line-height: 26px;
}
@media screen and (max-width: 950px) {
	.advantages {
		display: grid;
		grid-template-columns: 2fr 2fr;
		gap: 30px;
		max-width: 500px;
		margin: 0 auto;
	}
	.advantages__item {
		max-width: 100%;
		width: 100%;
	}
}
@media screen and (max-width: 550px) {
	.advantages {
		grid-template-columns: 4fr;
	}
}