.main-sidebar {
	background: #F7F8FA;
	min-width: 249.91px;
	margin: 0 11px 0 0;
	height: 100%;
}
.sidebar__list-link {
	padding: 12px 30px;
	display: block;
	color: #555555;
}
.sidebar__list-item {
	border-bottom: 1px solid #E3E3E3;
	&:last-child {
		border: none;
	}
}
@media screen and (max-width: 1160px) {
	.main-sidebar {
		display: none;
	}
}