.offer {
	display: grid;
	grid-template-columns: 2.3fr 1.7fr;
	grid-column-gap: 19px;
	margin: 0 0 50px 0;
}
.offer__item {
	position: relative;
	width: 100%;
	display: flex;
}
.offer__img {
	width: 100%;
	position: relative;
	& img {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.offer__img-big {
	padding-top: 76.548%;
}
.offer__img-small {
	padding-top: 50.1%;
}
.offer__text {
	position: absolute;
	top: 0;
	left: 0;
	margin: 41px 25px 0 39px;
	font-family: 'Mulish';
}
.offer__title {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 10px 0;
	color: #000000;
}
.offer__subtitle {
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: #7AC751;
	margin: 0 0 13px 0;
}
.offer__readmore {
	font-size: 16px;
	line-height: 26px;
	color: #757575;
	padding: 0 30px 0 0;
	position: relative;
	&:after {
		content: "";
		width: 27px;
		height: 14px;
		background: url(../img/sprite.svg#read-arrow) no-repeat right center;
		background-size: cover;
		position: absolute;
		right: -2px;
		top: 54%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}
.offer__col .offer__item {
	margin: 0 0 17px 0;
	&:last-child {
		margin: 0;
	}
}
@media screen and (max-width: 1160px) {
	.offer {
		grid-template-columns: 2fr 2fr;
	}
}
@media screen and (max-width: 950px) {
	.offer {
		grid-template-columns: 4fr;
	}
	.offer__item {
		margin: 0 0 17px 0;
	}
	.offer__img-big,
	.offer__img-small {
		padding-top: 51.1%;
	}
}
@media screen and (max-width: 550px) {
	.offer__img-big,
	.offer__img-small {
		padding-top: 64.1%;
	}
	.offer__text {
		margin: 10px 20px 0 20px;
	}
	.offer__title {
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 5px 0;
	}
	.offer__subtitle {
		font-size: 14px;
		line-height: 22px;
		margin: 0 0 5px 0;
	}
	.offer__readmore {
		font-size: 14px;
		line-height: 22px;
	}
	.offer {
		margin: 0 0 25px 0;
	}
}