.special {
	margin: 0 0 50px 0;
}
.special__item {
	position: relative;
	font-family: 'Mulish', sans-serif;
}
.special__box {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 30px;
}
.special__img {
	position: relative;
	padding-top: 43.305%;
	& img {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.special__content {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: calc(100% - 38px);
	left: 0;
	top: 0;
	margin: 28px 28px 0 24px;
	max-width: 227px;
}
.special__title {
	font-size: 22px;
	font-weight: 600;
	line-height: 28px;
	margin: 0 0 11px 0;
	color: #555555;
}
.special__descr {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}
.special__content-text {
	margin: 0 0 23px 0;
}
.special__content-price {
	display: flex;
	align-items: center;
}
.product__card-price.special {
	display: flex;
	align-items: center;
	margin: auto 0 29px 0;
	& .shop-btn {
		margin: 0 0 0 19px;
	}
}
.special__footer {
	display: flex;
	align-items: center;
}
@media screen and (max-width: 950px) {
	.special__box {
		grid-template-columns: 4fr;
	}
	.product__card-price.special {
		margin: 0;
	}
	.special__img {
		padding-top: 36.305%;
	}
}
@media screen and (max-width: 550px) {
	.special__img {
		padding-top: 56.305%;
		& img {
			opacity: .4;
		}
	}
	.special__content-text {
		margin: 0 0 20px 0;
	}
	.special__content {
		margin: 25px 15px 0 13px;
	}
	.special {
		margin: 0 0 25px 0;
	}
}