@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url("../font/DMSans-Medium.woff2") format("woff2"),
	url("../font/DMSans-Medium.woff") format("woff"),
	url("../font/DMSans-Medium.ttf") format("ttf"),
	url("../font/DMSans-Medium.eot") format("eot"),
}
@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/DMSans-Regular.woff2") format("woff2"),
	url("../font/DMSans-Regular.woff") format("woff"),
	url("../font/DMSans-Regular.ttf") format("ttf"),
	url("../font/DMSans-Regular.eot") format("eot"),
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/Mulish-Bold.woff2") format("woff2"),
	url("../font/Mulish-Bold.woff") format("woff"),
	url("../font/Mulish-Bold.ttf") format("ttf"),
	url("../font/Mulish-Bold.eot") format("eot"),
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/Mulish-ExtraBold.woff2") format("woff2"),
	url("../font/Mulish-ExtraBold.woff") format("woff"),
	url("../font/Mulish-ExtraBold.ttf") format("ttf"),
	url("../font/Mulish-ExtraBold.eot") format("eot"),
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/Mulish-Regular.woff2") format("woff2"),
	url("../font/Mulish-Regular.woff") format("woff"),
	url("../font/Mulish-Regular.ttf") format("ttf"),
	url("../font/Mulish-Regular.eot") format("eot"),
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local(''),
	url("../font/Mulish-SemiBold.woff2") format("woff2"),
	url("../font/Mulish-SemiBold.woff") format("woff"),
	url("../font/Mulish-SemiBold.ttf") format("ttf"),
	url("../font/Mulish-SemiBold.eot") format("eot")
}
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url("../font/Rubik-Medium.woff2") format("woff2"),
	url("../font/Rubik-Medium.woff") format("woff"),
	url("../font/Rubik-Medium.ttf") format("ttf"),
	url("../font/Rubik-Medium.eot") format("eot")
}
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/Rubik-Regular.woff2") format("woff2"),
	url("../font/Rubik-Regular.woff") format("woff"),
	url("../font/Rubik-Regular.ttf") format("ttf"),
	url("../font/Rubik-Regular.eot") format("eot")
}
